<!-- //this will be for a specific one (the specific URL)
//Create a new template file inside the views directory called urls_show.ejs. Use the example below to get you started.
//Add a new route in express_server.js which we'll use to render this new template. Use the example below for what this will look like.
//Use the shortURL from the route parameter to lookup it's associated longURL from the urlDatabase
//Pass both of these values to the template in a templateVars object.
//Fill out the urls_show.ejs template to display the long URL and its shortened form. Also include a link (href='#') for creating a new url. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL - TinyApp Example</title>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
      </div>
      <main style="margin: 1em;">  
        <h3>Edit</h3>
        <!-- <form class="form-inline" action="/urls" method="POST">  -->
            <form method="post" action="/urls/<%=shortURL%>">
              <label for="longURL">New URL:</label>
              <input class="form-control" type="text" name="longURL" placeholder="http://" style="width:500px; margin:auto;">
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <!-- </form> -->
      </main>
    <div class="card-footer text-muted"></div>
  </div>
  <!-- //took this whole section from urls_new -->
 
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
